body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input[type="text"] {
    width: calc(50% - 20px);
    padding: 8px;
    margin: 5px auto; /* Dikey hizalama */
    display: block; /* Satır sonu geçişi sağlamak için */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#map {
    display: none;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

#floating-panel {
    text-align: center; /* Yatay hizalama */
    position: fixed; /* Sabitleme */
    top: 50%; /* Üst kısmını ekranın ortasına getirme */
    left: 50%; /* Sol kısmını ekranın ortasına getirme */
    transform: translate(-50%, -50%); /* Dikdörtgenin ortasını ekranın ortasına getirme */
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
